[Unit]
Description=Wordpress MariaDB Database Container

[Service]
Restart=always

[Container]
Label=app=wordpress
ContainerName=mariadb
Image=docker.io/library/mariadb:latest
Network=wordpress.network
Volume=mariadb-db.volume:/var/lib/mysql
Environment=MYSQL_DATABASE=wordpress
Environment=MYSQL_USER=wordpress
Environment=MYSQL_PASSWORD=wordpress
Environment=MYSQL_ROOT_PASSWORD=wordpress

[Install]
WantedBy=multi-user.target default.target

